#tabs {
  display: flex;
  flex-direction: column;
  width: 95%;
}

#tab-headings {
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0px 5px 5px #4b4a4a;
  margin-bottom: 5px;
}

.tab-heading {
  background-color: #282c34;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}

.tab-heading:hover {
  background-color: #4b5262;
  width: 100%;
}

.tab-heading.active {
  background-color: #008cba;
  width: 100%;
}

.tab-content {
}
